<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NLP APP | Named Entity Recognition</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <body>
    <div id="login">
      <h3 class="text-center text-white pt-5">Named Entity Recognition</h3>
      <div class="container">
        <div
          id="login-row"
          class="row justify-content-center align-items-center"
        >
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form
                id="login-form"
                class="form"
                action="/doner"
                method="post"
              >
                <h3 class="text-center text-info">Named Entity Recognition</h3>
                <div class="form-group">
                  <label for="ner" class="text-info">Type your text here:</label><br />
                  <textarea
                    id="ner_text"
                    name="ner_text"
                    rows="5"
                    cols="50"
                    class="form-control"
                    required
                  >{% if txt %}{{txt}}{% endif %}</textarea>
                </div>
                <br />
                  <input
                    type="submit"
                    name="submit"
                    class="btn btn-info btn-md"
                    value="Recognize Entity"
                  />
                </div>
                <div id="register-link" class="text-right">
                  <a href="/dashboard" class="text-info">Dashboard</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% if result %}
          <div
            class="row justify-content-center align-items-center"
          >
            <div class="col-md-6">
              <div class="col-md-6 offset-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th>Name</th>
                      <th>Confidence_score</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in result['entities'] %}
                      <tr>
                        <td>{{i['category']}}</td>
                        <td>{{i['name']}}</td>
                        <td>{{i['confidence_score']}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
        {% endif %}
        
      </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
